# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE / Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Build output
dist/
build/

# Optional: Specific OS files
.DS_Store
Thumbs.db